doctype html 
html  
 head 
  style 
    include ../static/style.css 
 body 
  nav#navbar 
   ul
     li #[a(href="/") Home] 
     li #[a(href="/") About] 
     li #[a(href="/") Services] 
     li #[a(href="/") Class Info] 
     li #[a(href="/") Contact us]
   
  section#introSection 
    div Welcome To My Visiting website
    div.small Enjoy Best Places



    
     section for picture
  section#missionSection 
      h2 our mission
  section#sponserSection 
     h2 for sponser 
  footer#footer 
     h2 Apply For Visiting Website
     h2 helo 
     h3 hii

  script 
  include ../static/index.js